<layout:page>
</layout:page>
<title>Laura-Fernanda Ardila-Donado</title>
<img src="" alt= "Laura-Fernanda"/>
<div>
<a href="https://orcid.org/0000-0002-8431-7421"></a>
<a href="https://scholar.google.com/citations?hl=es&user=LoXYzawAAAAJ"></a>

<h1>Biografía</h1>
<p>Literata en formación, lectora secreta de autoayuda, enamorada de las historias y de la Historia; cocinera ocasional, amante de la pasta. Estudiante asombrada por la capacidad de los microrelatos y las pequeñas obras. Admitadora de la brevedad y de lo sútil. </p>
</div>
<p>Estudiante de Literatura en la Universidad EAFIT. </p>
<h2>Idiomas:</h2>
<li>-Español</li>
<li>- Inglés</li>
<h3>Intereses académicos y literarios:</h3>
<li>- Hermenéutica literaria</li>
<li>- Cuento latinoaméricano</li>
<div>
<h4>El rol del editor</h4>
<p>El editor es el artista de la mediación. Es aquel que ejerce el oficio del mago. Es el equilibrio, la balanza entre la creatividad y la realización ¿Qué es un editor? Es el profesional que se encarga de salvaguardar información dentro de un medio físico o digital, es quien encuentra la perfecta forma, diseño y espacio (de venta, por ejemplo) de un producto artístico (como palabras, ilustraciones, entre otros). </p>
</div>
