---
layout: page
title: Mateo-A Caballero
---


<div class= "c" lang="en">  
<img class="avatares" src="/PROYECTO-FINAL/assets/YO.jpg" alt="Foto de perfil"/>
<br>
<a href="https://orcid.org/0000-0003-2519-4852">orcid</a>
<br>
<h2>Biografía</h2>
<p>Mateo Caballero Cantor (Bogotá, 1997). Romántico explorador del desorden bogotano,
    es un escritor y fotógrafo de 24 años, quien considera que el arte se construye en
    comunidad. Es actual estudiante del pregrado de Creación Literaria de la universidad
    Central y creador de la Revista digital Pequeños Relatos. Participó en el encuentro de 
    Poesía y la Palabra del municipio de Tenjo. Integró la antología 21 N – 100 autores, 100 
    relatos, 100 palabras – tapa azul, editorial ITA, con el poema Días de revolución. Con sus 
    escritos ha colaborado para algunas revistas nacionales.
<br>
<h3>idiomas</h3>
   <ul>
     <li>español</li>
   </ul> 
<br>
<h3>Intereses literarios</h3>
   <ul>
     <li>Literatura latinoamericana</li>
     <li>poesía colombiana</li>
     <li>ensayos literarios</li>
     <li>cuentos de género negro</li>  
    </ul>
<br>
<h3>El rol del editor</h3>
<p>El papel del editor es el más importante en el proceso de elaboración de una obra literaria
    para que llegue a su mejor versión. El editor no es un simple retorico maniqueísta, es más 
    que eso, es la puerta para que el autor detecte todas las zonas de mejoras. Sin editores
    nos ahogaríamos en océanos de literatura muerta, pues no habría la calidad que requiere
    una obra de arte.
</div>