---
layout: page
title: Valentina Osorio-Beltran
---

<div>
<h1>Valentina Osorio Beltrán</h1>
<img src="/_site/assets/IMG_20210412_163749481.jpg" alt= "valentina osorio"/>
<p>Link <a href="https://orcid.org/0000-0002-9241-0108">ORCID</a></p>
<p>Link <a href="https://scholar.google.com/citations?user=GhbVtVMAAAAJ&hl=es">Google Scholar</a></p>

<br>
<h2>Biografía</h2>
<p>Lectora hiperactiva, enamorada de los juegos de palabra, los cuentos infantiles y la literatura dedicada al conflicto armado. Estudiante del pregrado en Literatura de la Universidad EAFIT, podcaster amateur y madre de una pequeña suculenta.</p> 

<h2>Idiomas</h2>
<ul>
    <li>Español</li>
    <li>Inglés (nivel B2)</li>
</ul>

<br>
<h2>Intereses Académicos</h2>
<ul>
    <li>Humanidades digitales</li>
    <li>Literatura sobre el conflicto armado colombiano</li>
    <li>Literatura infantil</li>
    <li>Memoria y Oralidad</li>
</ul>


<br>
<h2>El rol del editor</h2>
<p>Un editor es un community manager con un nombre poético. Está ahí para abogar por aquello que quiera publicar. Un editor es también un representante de un libro y, así como lo hacen representantes intentando llevar al estrellato a sus clientes, los editores acompañan a sus libros para que brillen en la publicación. Son la cara de una obra cuando aún no pueden sostenerse por sí mismos y son las manos tras bambalinas que alientan sus obras a llegar al éxito. </p>
</div>